body {
  background-color: #a30083;
  color: white;
  padding-left: 17%;
  padding-top: 5%;
  padding-right: 17%;
  padding-bottom: 5%;
}

.container {
  width: 100%;
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*  HEADER  */

header {
  display: flex;
  flex-direction: row;
}

.epicode {
  width: 50%;
  height: 25%;
}

#logo {
  width: 30%;
  padding-left: 23%;
  padding-top: 8%;
  padding-bottom: 20%;
}
.timer{
  font-size: 20px;
}
.boxTimer{
  border: solid 10px rgb(0, 234, 255);
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxTimer p {
  font-size: 7px;
}
/*  DOMANDA  */

.request {
  align-items: center;
  text-align: center;
  height: 15%;
}

.title {
  font-size: 40px;
  margin-top: 20px;
  font-family: outfit;
}

/*  MAIN  */

main {
  display: flex;
  flex-direction: column;
}

.tasto {
  width: 65%;
  height: 55px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 1px 6px 2px #b4b6c3;
  background: transparent 60%;
  color: white;
  font-family: inter;
}

.tasto:hover {
  background-color: #af0089;
  transition: 0, 7s;
  box-shadow: 0px 1px 6px 2px rgb(162, 67, 142);
}

.b1 {
  display: flex;
  flex-direction: row;
}

.button1 {
  width: 50%;
  text-align: end;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button2 {
  width: 50%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.b2 {
  display: flex;
  flex-direction: row;
}

.button3 {
  width: 50%;
  text-align: end;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button4 {
  width: 50%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: outfit;
  font-size: 14px;
  letter-spacing: 3px;
}
